html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.screen-cropper--container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  overflow: hidden;
  filter: brightness(0.7);
}
.screen-cropper--container .cropper-modal {
  opacity: 0.3;
}

.screen-cropper--container.is-selectioned {
  filter: none;
}
.screen-cropper__canvas {
  width: 100%;
  height: 100%;
}
.screen-cropper__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.screen-cropper__operation {
  display: flex;
  gap: 4px;
  height: 32px;
  position: absolute;
  align-items: center;
  border-radius: 6px;
  padding: 1px 6px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  top: 0;
}

.screen-cropper__operation.is-over {
  top: -40px;
}

.screen-cropper__operation--container {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all;
}

.screen-cropper__operation--container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.screen-cropper__operation--container img {
  width: 80%;
  height: 80%;
}

.screen-cropper__size {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  position: absolute;
  padding: 0 6px;
  border-radius: 6px;
  white-space: nowrap;
  top: 0px;
  user-select: none;
}
